
<% @stations.each do |station| %>
<ul class="station">
  <li><%= station.name %></li>
  <li><%= station.address %></li>
  <li><%= station.fuel_type %></li>
  <li><%= station.distance %></li>
  <li><%= station.distance %></li>
</ul>
<% end %>
